<template>
  <div class="content">
    <section class="hero">
      <h1 class="title">Why</h1>
      <p>
        Everyone knows the theory. Having a balanced conversation, where each of us waits for the
        previous talker before speaking, is one of the surest way to have a constructive meeting.
        Theory is one, but how much do we apply it?
      </p>
      <p>
        Among many authors, David Marquet in his excellent "Leadership is Language" book makes a
        strong case about who talks when and how much.
      </p>
      <p>
        This initiative is also part of a personal therapy. I tend to be a "big mouth" in meetings.
        Part of it is good, demonstrating a passion for debates and healthy conflicts (Patrick M.
        Lencioni, "The Five Dysfunctions of a Team").
        Part of it is pure rudeness, not letting enough space for others to contribute...
      </p>
      <p>
        It was time to go for data, as <em>"you can only improve what you can measure"</em>
        (Lord Kevin) and you can <em>"measure anything"</em> (Douglas W. Hubbard).
      </p>

      <h2 class="subtitle">Why this name?</h2>
      <p>
        <em>"You talk too much, you never shut up"</em>, by <a
        href="https://www.youtube.com/watch?v=EheLN-MDzrA">Run DMC</a>
      </p>
    </section>
    <section class="hero mt-4">
      <h1 class="title">How</h1>
      <p>
        But thanks to remote working, MS Teams and other such tools have invaded our lives. And they
        provide us with a neat way to collect speaking time.
      </p>
      <p>
        The next phase was to build a tool to sort all that out.
      </p>
    </section>
    <section class="hero mt-4">
      <h1 class="title">What</h1>
      <p>
        Microsoft Teams offers a feature to record a text transcript from online meetings.
        For each intervention, it captures the speaker name and timestamps (intervention start and
        end). It also saves the said sentence, but we do not use that information. Hence the tool
        can be used in any language, even though the recorded text is meaningless.
      </p>
      <p>
        The proposed application runs in your browser, without any information sent to any server
        (hence your privacy is protected).
        A TypeScript/Vue/d3.js application processes the transcript and displays the analysis.
      </p>
      <h1 class="subtitles">Limitations</h1>
      <ul>
        <li>Only MS Teams transcripts are read.</li>
        <li>If a microphone is too sensitive, it often captures noise, which can cause a user to
          appear to be talking when they are only transmitting noise to their colleagues.
        </li>
      </ul>
      <h2 class="subtitle">What's next</h2>
      Many features are to come
      <ul>
        <li>David Marquet' balance index, to point out whether talking time is equally distributed
          or not.
        </li>
        <li>Who interrupts whom?</li>
        <li>Measure by gender, seniority etc.</li>
      </ul>
      And whatever good ideas you might propose.
    </section>
    <section class="hero mt-4">
      <h1 class="title">We need your feedback</h1>
      <p>
        If you have any comments, any idea, do not hesitate to <a
        href="mailto:alexandre.masselot@gmail.com">drop me a line</a>.
      </p>
    </section>

  </div>
</template>
