<template>
  <div class="gender-settings">

    <b-table
      :data="talkerGender"
    >
      <b-table-column field="name" label="Name" numeric v-slot="props">
        {{ props.row.name }}
      </b-table-column>

      <b-table-column
        centered
        v-slot="props"
        width="50"
      >
        <div :class="'gender-'+props.row.gender">
          <b-icon
            v-if="props.row.gender"
            pack="fas"
            :icon=" genderIcons[props.row.gender]">
          </b-icon>
        </div>
      </b-table-column>

      <b-table-column label="Female" v-slot="props" centered>
        <div>
          <input type="radio" :value="Gender.FEMALE"
                   :name="props.row.name"
                   :checked="props.row.gender == Gender.FEMALE"
                   v-on:input="updateGender(props.row.name, Gender.FEMALE)"
          >
        </div>
      </b-table-column>
      <b-table-column label="Male" v-slot="props" centered>
        <input type="radio" :value="Gender.MALE"
                 :name="props.row.name"
                 v-bind:checked="props.row.gender === Gender.MALE"
                 v-on:input="updateGender(props.row.name, Gender.MALE)"
        >
      </b-table-column>

      <b-table-column label="Non binary" v-slot="props" centered>
        <input type="radio" :value="Gender.NON_BINARY"
                 :name="props.row.name"
                 v-bind:checked="props.row.gender === Gender.NON_BINARY"
                 v-on:input="updateGender(props.row.name, Gender.NON_BINARY)"
        >
      </b-table-column>

    </b-table>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapMutations, mapState } from 'vuex';
import Gender, { genderIcons } from '@/models/gender';

export default {
  name: 'GenderSettings',
  data() {
    return {
      Gender,
      genderIcons,
    };
  },
  computed: {
    ...mapState({
      meeting: 'meeting',
    }),
    talkerNames() {
      return this.meeting.getTalkerNames();
    },
    talkerGender() {
      return _.chain(this.talkerNames)
        .map((n) => ({ name: n, gender: this.meeting.getTalkerGender(n) }))
        .value();
    },
  },
  methods: {
    ...mapMutations([
      'setTalkerGender',
    ]),
    updateGender(name, value) {
      this.talkerGender.find((tg) => tg.name === name).gender = value;
      this.setTalkerGender({ talkerName: name, gender: value });
    },
  },
};
</script>
