<template>
  <b-button
    @click="showSettings"
    type="is-primary"
    :size="size"
    round
    outlined
    icon-left="cog"
    icon-pack="fas"
  >settings
  </b-button>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'ShowSettingsButton',
  props: ['size'],
  methods: {
    ...mapMutations([
      'showSettings',
    ]),
  },
};
</script>
