<template>
  <div id="gauge" class="gauge" ref="gauge">
  </div>
</template>

<script>

import GaugeD3 from '@/components/gauge/gauge-d3';

export default {
  name: 'gauge',
  rnd: Math.random(10000000),
  props: {
    size: Number,
    value: Number,
  },
  data() {
    return {
      powerGauge: null,
    };
  },
  methods: {},
  mounted() {
    this.powerGauge = new GaugeD3(this.$refs.gauge, {
      size: 300,
      ringWidth: 60,
      minValue: 1,
      maxValue: 0,
      transitionMs: 4000,
      minLabel: 'monologue',
      maxLabel: 'balanced',
    });
    this.powerGauge.render(this.value);
  },
  watch: {
    value() {
      this.powerGauge.update(this.value);
    },
  },
};
</script>

<style>

g.arc {
  fill: steelblue;
}

g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
</style>
